
/* font-weight: 600; for bold

font-weight: 900; for black */



body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: "Montserrat";
  
}

p {
    color: #8f8f8f
}

/* Container Fluid */
.container-fluid {
    padding: 7% 15%;
}


/* Sections */

.colored-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
    background-color: #fff;

}





/* Navigation Bar */


.navbar {
    padding: 0 0 4.5rem;
    /* editing whole nav bar with brand name and items */
    /* giving padding to navbar better than giving top padding to h1 */
}

/* editing brand-name tindog */
.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
    /*  or  40px !important;*/
}

/* editing menu items */
.nav-item {
    padding: 0 18px 0 18px;
}

.nav-link {
    font-size: 1.2 rem;
    font-family: "Montserrat";
    font-weight: 300;
    color: #fff
}



/* Title section */

#title .container-fluid{
    text-align: left;
padding: 3% 15% 7% ;
}

.big-heading{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    /* padding-top: 120px; --- instead we give bottom padding to  navbar */
}


/* Hiding phone image behing features' white tackground */
/* first we should give posiutioning each element and then we change their z-index
z-index 0 stays its place and z-index 1 will be first that shown us */
.title-image {

    width: 20%;
    right: 24%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0
}



/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}


/* Features section */

#features {
    /* padding: 7% 15%; */
    position: relative;
    z-index: 1;
}

.feature-title{
    font-weight: 700;
    font-size: 1.5rem;
}

/* padding will help us to make text yığcam and looks good */
.feature-box {
    /* text-align: center; */
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;

}

.icon:hover {
    color: #ff4c68;
}


/* Testimonial section */

#testimonials {

    /* text-align: center; */
    background-color: #ef8172;
    color: #fff;

}



.testimonial-image {

    width: 10%;
    /* change image size*/
    border-radius: 100%;
    /* makes image circle*/
    margin: 20px;
    /* when you declare just one it applies all the sides*/
}

.testimonial-text{
    font-weight: 600;

    font-size: 3rem;
    line-height: 1.5; 
}


/* Press section */
#press {
    background-color: #ef8172;
    /* text-align: center; */
    padding-bottom: 3%;
}

.press-logo {

    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing section */
#pricing {

    padding: 100px;
}

.section-heading{
    font-weight: 600;

    font-size: 3rem;
    line-height: 1.5;
}

.pricing-plan-name{
    font-weight: 700;
    font-size: 1.5rem;
}

.price-text{
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-column {
    padding: 3% 2%;
}

/* Call to Action  */

#cta{   
    /* background-color: #ff4c68;
    color:#fff; */
}

/* Footer Section */


#footer{
    /* background-color: #fff; */
}

.social-icon{
    margin: 20px 10px;
}

/* Arranging phone and first page saze depend of screeen size */

@media (max-width: 1028px) {

    #title{
        text-align: center;
    }
    .title-image {
        width: 100%;
        position: static;
        transform: rotate(0);
    }
}